#title{
    background-color: #ff4c68;
}
body{
    font-family: 'Montserrat', sans-serif;
}


.container-fluid{
    padding: 3% 15%;
}
h1{    
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 900;
    color: white
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto;
}

.description-text{
    color: #8f8f8f
}

.icon{
    color: #ef8172;
    padding-bottom: 1.5rem;
}


.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    /* padding: 0 auto; */
}

/* -----------------Navigation Bar---------------- */
.navbar{
    padding: 0 0 4.5rem;

}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
}

/* Download Buttons */
.rotate-img{
    transform: rotate(20deg);
}


/* Font Awesome */


/* Hover */

.icon:hover{
    color: #ff4c68;
}


/* Feature section */

#features{
    padding: 7% 15%;
}

.feature-box{
    text-align: center;

    padding: 5%;
}


/* testimonials */

#testimonials{
    background-color: #ef8172;

    text-align: center;

    color: #fff;
}
.carousel-item{
    
    padding: 7% 15%;
}
.testimonials-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-col{
    padding: 3% 2%;
}